@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Cormorant+Garamond:wght@300;500;700&family=Montserrat:wght@200;300;400;500&family=Playfair:ital,opsz,wdth,wght@1,5..1200,87.5,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #e0c6b9;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    position: absolute;
    top: 2rem;
    width: 100%;
}