@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Cormorant+Garamond:wght@300;500;700&family=Montserrat:wght@200;300;400;500&family=Playfair:ital,opsz,wdth,wght@1,5..1200,87.5,300&display=swap');


:root {    
    /*--== Kleuren ==--*/
    --accent-color: #e0c6b9;
    --accent-color-alt: #c19a7e;
    --body-color: #f4f3ed;
    --text-color: #3a3a3a;
    --title-color: #434343;
    --container-color: #fbf7f3;
    --container-color2: #282423;

    /*--== Font en Typography ==--*/
    --body-font: Arial, Helvetica, sans-serif;;
    --quote-font-size: 3rem;
    --biggest-font-size: 2.25rem;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    --font-regular: 300;
    --font-medium: 500;
    --font-semi-bold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;
}

/*--=================== BASE ===================--*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    background-color: #e0c6b9;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}




/*--=================== HEADER ===================--*/
.reclame{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 100%;
    background-color: var(--accent-color);
    color: #7e6655;
    z-index: 110;
}

.reclame p{
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    font-size: 0.64rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: .08rem;
    transform: translateY(0px);
}

.reclame span{
    font-weight: 1000;
}

.reclame button{
    color: #3d352f;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 0.4rem;
    font-size: 1.4rem
}

.reclame i{
    margin: auto;
}

.reclame-exit{
    display: none;
}




/*--=================== HEADER ===================--*/
header{
    position: fixed;
    width: 100%;
    height: 7rem;
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: color .2s, background-color .2s;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;
    font-weight: var(--font-regular);
    font-size: 1.05rem;
    transform: translateY(-4px);
}

.logo h2{
    line-height: 0.9rem;
    font-size: 1.4rem;
}

.menu{
    position: absolute;
    height: 110vh;
    width: 100%;
    top: -10vh;
    opacity: 0;
    transition: opacity .5s, right .5s, transform .5s;
    right: 0;
    background-color: var(--container-color2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transform: translateY(5vh);
}

.menu ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    transform: translateY(10000px);
    transition: transform 0s;
    transition-delay: 0.5s;
}

.menu li a{
    font-size: var(--biggest-font-size);
    color: var(--body-color);
}

.menu__box{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(10000px);
    transition: transform 0s;
    transition-delay: 0.5s;
    z-index: -1;
}

.menu__box-open{
    transform: translateY(0px);
    transition-delay: 0s;
}

/*--=================== MENU BURGER BUTTON ===================--*/
.button__container{
    position: absolute;
    right: 1rem
}

.menu__button{
    width: 3rem;
    height: 3rem;
    margin: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color .2s;
}

.menu__button div{
    margin: auto;
    width: 2rem;
    height: 2rem;
    position: relative;
}

.menu__button span{
    background-color: #000000;
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: .2s;
}

.menu__button .line-1{
    transform: translate(-50%, -6px);
}

.menu__button .line-2{
    transform: translate(-50%, 6px);
}

.openmenu .line-1{
    transform: translate(-50%, 0px) rotate(135deg);
}

.openmenu .line-2{
    transform: translate(-50%, 0px) rotate(-135deg);
}

.openmenu span{
    background-color: var(--body-color);
}

.openmenu-menu{
    opacity: 1;
    right: 0;
    transform: translateY(0rem);
}

.openmenu-menu ul{
    transform: translateY(0px);
    transition-delay: 0s;
}

.openmenu-header{
    background-color: var(--container-color2);
    color: var(--body-color);
}

/*--=================== MENU BOOK NOW BUTTON ===================--*/
.book__now{
    position: fixed;
    background-color: var(--body-color);
    padding: 1.3rem 2.8rem;
    font-size: var(--font-medium);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000000;
    margin: auto;
    bottom: -5rem;
    opacity: 0;
    transition: bottom .5s, opacity .3s;
}

.openmenu-book__now{
    bottom: 2rem;
    opacity: 1;
}




/*--=================== SECTION 1 ===================--*/
.section1{
    height: 100vh;
    background-image: url('image00037.jpeg');
    background-position: center;
    background-size: cover;
}

.dark__box{
    width: 63%;
    height: 100vh;
    background-color: #1f1f1f5e;
}

.contents1{
    position: absolute;
    width: 100%;
    height: 101vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    max-width: 1100px;
}

.contents1 h1{
    font-size: var(--biggest-font-size);
    font-weight: 300;
    color: var(--body-color);
    margin-left: 2rem;
    line-height: 3rem;
    max-width: 700px;
}

.contents1 h3{
    font-size: 4rem;
    font-weight: 300;
    color: var(--body-color);
    margin-left: 2rem;
}

.contents1 i{
    font-family: 'Playfair', serif;
    font-size: 2.5rem;
}

.contact__button{
    width: fit-content;
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: var(--body-color);
    padding: 1.3rem 2.8rem;
    font-size: var(--font-medium);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000000;
}

/*--=================== SECTION 1 RESPONSIVE ===================--*/
@media screen and (min-width: 580px) {
    .contents1 h3{
        font-size: 7rem;
    }
}

@media screen and (min-width: 1023px) {
    .contents1 h3, .contents1 h1, .contact__button{
        margin-left: 8rem;
    }
}




/*--=================== SECTION 2 ===================--*/
.section2{
    height: fit-content;
    background-color: var(--accent-color-alt);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.section2 h2{
    text-align: center;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--body-color);
    font-weight: 500;
    line-height: 1.8rem;
}

.section2 h1{
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: var(--body-color);
    line-height: 2.2rem;
    max-width: 1023px;
}


.section2 i{
    font-family: 'Playfair', serif;
    font-size: 2.2rem;
}



/*--=================== SECTION 3 ===================--*/
.section3{
    height: fit-content;
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.section3 h1{
    margin: 1.5rem;
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--text-color);
    line-height: 3rem;
}

.section3 p{
    text-align: center;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 2rem;
    letter-spacing: .05rem;
}

.foldable__text{
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text1__open{
    -webkit-line-clamp: 100;
}

.read_more__button{
    margin: auto;
    background-color: #9e9182;
    padding: 1rem 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--body-color);
    border: none;
    cursor: pointer;
    margin-bottom: 3rem;
}

.image__box{
    top: 0;
    width: 100%;
    height: fit-content;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.images3{
    width: 100%;
    display: flex;
    overflow: hidden;
}

.images3 img{
    width: 100%;
}

@-webkit-keyframes slide_animation{
    0% {transform: translateX(0%)}
    15% {transform: translateX(0%)}
    20% {transform: translateX(-100%)}
    35% {transform: translateX(-100%)}
    40% {transform: translateX(-200%)}
    55% {transform: translateX(-200%)}
    60% {transform: translateX(-300%)}
    75% {transform: translateX(-300%)}
    80% {transform: translateX(-400%)}
    95% {transform: translateX(-400%)}
    100% {transform: translateX(-500%)}
}

.slides {
    display: flex;
    -webkit-animation-name: slide_animation;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
}




/*--=================== SECTION 3 RESPONSIVE ===================--*/
@media screen and (min-width: 1023px) {
    .section3{
        justify-content: center;
        align-items: start;
        gap: 3rem;
        flex-direction: row;
    }

    .start, .end{
        padding-top: 5rem;
    }

    .image__box{
        max-width: 400px;
    }
}




/*--=================== SECTION REVIEUWS ===================--*/
.section__revieuws{
    width: 100%;
    height: fit-content;
    background-color: var(--container-color2);
    overflow: hidden;
}

.revieuw__box{
    margin-left: 0%;
    width: 400%;
    height: fit-content;
    display: flex;
    align-items: center;
    overflow: hidden;
}

@-webkit-keyframes revieuw_animation{
    0% {margin-left: 0%;}
    27% {margin-left: 0%;}
    32% {margin-left: -100%;}
    61% {margin-left: -100%;}
    66% {margin-left: -200%;}
    95% {margin-left: -200%;}
    100% {margin-left: -300%;}
}

.revieuw__box {
    transition: transform .2s;
    -webkit-animation-name: revieuw_animation;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
}

.revieuw{
    padding: 1.3rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.revieuw__box h2{
    text-align: center;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--body-color);
    font-weight: 500;
}

.revieuw__box h1{
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: var(--body-color);
    line-height: 2.5rem;
    max-width: 1023px;
}


.revieuw__box i{
    font-size: 1.3rem;
    padding: 0.2rem;
    transform: translateY(-15px);
}

.stars{
    margin: auto;
    width: fit-content;
    color: var(--body-color);
    padding-top: 2rem;
}

.stars i{
    font-size: 1.5rem;
}



/*--=================== SECTION 4 ===================--*/
.section4{
    height: fit-content;
    background-color: var(--container-color2);
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    padding: 1.3rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: var(--body-color);
    color: var(--container-color2);
}

.s4container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contents4{
    max-width: 600px;
    flex: 1;
}

.section4 h1{
    margin-bottom: 1.5rem;
    margin-top: 1.2rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
}

.section4 h2{
    text-align: left;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.8rem;
}

.section4 p{
    text-align: left;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.8rem;
    letter-spacing: .05rem;
}

.section4 i{
    font-family: 'Playfair', serif;
    font-size: 2.2rem;
}

.profiel__foto__container{
    flex: 1;
    margin: auto;
    width: 100%;
    max-width: 400px;
}

.profiel__foto__container img{
    width: 100%;
    padding: 1rem;
    padding-top: 3rem;
}

/*--=================== SECTION 4 RESPONSIVE ===================--*/
@media screen and (min-width: 1023px) {
    .contents4{
        max-width: 1023px;
    }

    .s4container{
        max-width: 1023px;
        flex-direction: row;
    }

    .profiel__foto__container{
        margin-left: 5rem;
        max-width: 460px;
    }
}




/*--=================== SECTION 5 ===================--*/
.section5{
    height: fit-content;
    background-color: #b99281;
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.section5 h1{
    font-size: 2rem;
    font-weight: 300;
    color: var(--body-color);
    line-height: 3rem;
    max-width: 1023px;
}

.section5 i{
    font-family: 'Playfair', serif;
    font-size: 2.2rem;
}




/*--=================== SECTION 6 ===================--*/
.section6{
    background-color: var(--body-color);
    color: var(--container-color2);
    padding: 1.3rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.section6 h2{
    text-align: left;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.8rem;
}

.section6 h1{
    margin-bottom: 1.5rem;
    margin-top: 1.2rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    max-width: 1023px;
}

.section6 p{
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.8rem;
    letter-spacing: .08rem;
    padding-bottom: 1rem;
}

.section6 i{
    font-family: 'Playfair', serif;
    font-size: 2.3rem;
}

.contact__input{
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.8rem;
    letter-spacing: .08rem;
    width: 100%;
    background-color: transparent;
    padding: .5rem;
    border: 1px solid var(--container-color2);
}

.contact__container{
    width: 100%;
}

.contact__form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.contact__group{
    gap: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact__form textarea {
    height: 15rem;
    resize: none;
}

.contact__message {
    position: absolute;
    margin-top: 20rem;
    align-self: flex-start;
    color: var(--container-color2);
}

.contact__button2{
    margin-top: 2rem;
    align-self: flex-start;
    background-color: #9e9182;
    padding: 1rem 1.1rem;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--body-color);
    border: none;
    cursor: pointer;
}

.container__contact{
    max-width: 600px;
}

/*--=================== SECTION 6 RESPONSIVE ===================--*/
@media screen and (min-width: 1023px) {
    .container__contact{
        max-width: 1023px;
    }
}




/*--=================== FOOTER ===================--*/
footer{
    background-color: var(--container-color2);
    padding: 2rem;
    padding-top: 3rem;
    color: var(--body-color);
}

.footer__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer p{
    text-align: center;
    margin: auto;
    padding-bottom: 1.5rem;
    padding-top: 1.2rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    max-width: 1023px;
}

footer span{
    text-align: center;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.8rem;
    letter-spacing: .08rem;
    padding-bottom: 0;
}

.footer__social{
    display: flex;
    color: var(--body-color);
    padding-bottom: 1.5rem;
    gap: 1rem;
}

.footer__social-link{
    color: var(--body-color);
    font-size: 2rem;
    transition: color .2s, transform .2s;
}

.footer__social-link:hover{
    color: var(--accent-color);
    font-size: 2rem;
    transform: translateY(-0.25rem);
}




/*--=================== SCROLL ANIMATION ===================--*/
.hidden{
    opacity: 0;
    transition: opacity 1.5s, transform 1.5s;
    transform: scale(.9);
}

.show{
    opacity: 1;
    transform: scale(1);
}
